.menu-close{
    /* border: 1px solid; */
    margin-top: -20px;
    margin-bottom: -20px;
}

.head1{
    font-size: 18px;
    text-align: start;
    font-weight: 500;
}
.title{
    margin-bottom: 5px;
}
.Para-1{
      font-size: 15px;
    text-align: start;
}
