.bottomNav_main{
    position: fixed;
    width: 100%;
    height: 50px;
    /* border:1px solid rgba(0, 0, 0, 0.184); */
    /* background-color: #ebebeb; */
    z-index: 1;
    /* top: 0px; */
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 20px ;
    transition: top 2s ease-in;
    animation:  fade 1s  ;
}

.sub-content{
    display: flex;
    align-items: center;
    gap: 30px;
    /* padding: 10px 20px; */
    /* border: 1px solid; */
}
.left-side-cancel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cancel{
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.cancelBlue{
    cursor: pointer;
     z-index: 1;
     user-select: none;
}
.fullscreen{
    color: #96a1b2;
    display: inline-block;
}
.btn,.bottom-icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    /* background-color:#ffffff; */
    border:none;
    border-radius: 5px;
    z-index: 1
    /* cursor: pointer; */
}
.left-side-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* additional shape  */
.additionalShape{
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: 350px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content:space-between;
}

.bottom-right-side-content{
     display: flex;
    gap: 12px;
    align-items: center;
}

@keyframes fade {
    0%{
        opacity: 0;
       top:0px
    }100%{
        opacity: 1;
          top: 60px;
        /* transform: translateY(20px); */
        /* top: 65px */
    }
}
/* menu-bar */
.menu-content{
 display: none;
}

/* media queries */

@media(max-width:704px){
.bottomNav_main{
    position: fixed;
    width: 100%;
    height: 50px;
    /* border:1px solid rgba(0, 0, 0, 0.184); */
    /* background-color: #ebebeb; */
    z-index: 1;
    /* top: 0px; */
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px ;
    transition: top 2s ease-in;
    animation:  fade 1s  ;
}

.sub-content{
    display: flex;
    align-items: center;
    gap: 25px;
    /* padding: 10px 20px; */
    /* border: 1px solid; */
}
.left-side-cancel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cancel{
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.cancelBlue{
    cursor: pointer;
     z-index: 1;
     user-select: none;
}
.fullscreen{
    color: #96a1b2;
    display: inline-block;
}
.btn,.bottom-icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    /* background-color:#ffffff; */
    border:none;
    border-radius: 5px;
    z-index: 1
    /* cursor: pointer; */
}
.left-side-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* additional shape  */
.additionalShape{
    display: flex;
    gap: 15px;
    align-items: center;
    max-width: 330px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content:space-between;
}

.bottom-right-side-content{
     display: flex;
    gap: 12px;
    align-items: center;
}

@keyframes fade {
    0%{
        opacity: 0;
       top:0px
    }100%{
        opacity: 1;
          top: 60px;
        /* transform: translateY(20px); */
        /* top: 65px */
    }
}
}

@media(max-width:638px){
.bottomNav_main{
    position: fixed;
    width: 100%;
    height: 50px;
    /* border:1px solid rgba(0, 0, 0, 0.184); */
    /* background-color: #ebebeb; */
    z-index: 1;
    /* top: 0px; */
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px ;
    transition: top 2s ease-in;
    animation:  fade 1s  ;
}

.sub-content{
    display: flex;
    align-items: center;
    gap: 18px;
    /* padding: 10px 20px; */
    /* border: 1px solid; */
}
.left-side-cancel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cancel{
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.cancelBlue{
    cursor: pointer;
     z-index: 1;
     user-select: none;
}
.fullscreen{
    color: #96a1b2;
    display: inline-block;
}
.btn,.bottom-icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    /* background-color:#ffffff; */
    border:none;
    border-radius: 5px;
    z-index: 1
    /* cursor: pointer; */
}
.left-side-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* additional shape  */
.additionalShape{
    display: flex;
    gap: 15px;
    align-items: center;
    max-width: 300px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content:space-between;
}

.bottom-right-side-content{
     display: flex;
    gap: 12px;
    align-items: center;
}

@keyframes fade {
    0%{
        opacity: 0;
       top:0px
    }100%{
        opacity: 1;
          top: 60px;
        /* transform: translateY(20px); */
        /* top: 65px */
    }
}
}

@media(max-width:580px){
.bottomNav_main{
    display: none;
}

.sub-content{
    display: flex;
    align-items: center;
    gap: 18px;
    /* padding: 10px 20px; */
    /* border: 1px solid; */
}
.left-side-cancel-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cancel{
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.cancelBlue{
    cursor: pointer;
     z-index: 1;
     user-select: none;
}
.fullscreen{
    color: #96a1b2;
    display: inline-block;
}
.btn,.bottom-icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    /* background-color:#ffffff; */
    border:none;
    border-radius: 5px;
    z-index: 1
    /* cursor: pointer; */
}
.left-side-prev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* additional shape  */
.additionalShape{
    display: flex;
    gap: 15px;
    align-items: center;
    max-width: 300px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content:space-between;
}

.bottom-right-side-content{
     display: flex;
    gap: 12px;
    align-items: center;
}

@keyframes fade {
    0%{
        opacity: 0;
       top:0px
    }100%{
        opacity: 1;
          top: 60px;
        /* transform: translateY(20px); */
        /* top: 65px */
    }
}




}