*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-nav{
    display: flex;
    width:100%;
    justify-content: center;
    /* border: 1px solid; */
}

.joystick-content{
    /* background-color: grey; */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    bottom: 100px;
    border-radius: 50%;
      z-index: 3;
}