*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-nav{
    display: flex;
    width:100%;
    justify-content: center;
}

.joystick-content{
    width: 200px;
    height: 50px;
    position: absolute;
    left: 60px;
    bottom: 170px;
    z-index: 3;
    transition: 2s ease-in;
    animation-name: bottomToTop;
    animation-duration: 3s;
}

@keyframes bottomToTop {
    0%{
        opacity: 0;
     /* bottom: 100px; */
    }100%{
        opacity: 1;
      /* bottom: 170px; */
    }
    
}
.zoomer-content{
     z-index: 3;
}

.bottomzoom{
    top: 155px;
    left: 39px;
    width: 60%;
    position: absolute;
    height: 40px;
    z-index: 3;
    border: 1px solid lightgray;
    border-radius: 8px;
     display: flex;
    align-items: center;
    background-color: #ececf4;
}
.main-zoom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px; 
  
}

.zoomlevel{
    color: #583c2c;
    font-size: 15px;
}
.inc, .dec{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #e0dfff;
    border-radius: 50%;
}

