.icon-group{
    border: 1px solid #0000001d;
    width:80px;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px #0000005b;
    position: fixed;
    left:10px;
    z-index: 1;
}


.icon{
    border: 1px solid #00000044;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    color: #000000a2;
}

.bg-blue{
    border: 1px solid #00000009;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color:lightblue;
}
.icon:hover{
    background-color:#0000002c;
    color: #ffffff;
    font-weight: 700;
    border: 1px solid #00000017;
}